*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dedede;
    width: 100%;
    height: 100vh;
    background-color: rgb(29, 29, 29);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2.4rem;
    height: 100vh;
    width: 100%;

}

.header h1{
    font-size: 30px;
    color: cornsilk;
    padding: 12px
}

.canvas
{
    display: flex;
    flex: 1 0 auto;
    width: 100%
}

.canvas .leftpart,
.canvas .rightpart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    color: white;
    flex-wrap: wrap;
}


.canvas .leftpart .photobox{
    background-color: rgba(3, 19, 13, 0.801);
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    height:50%;
    width: 50%;
}

.canvas .leftpart{
    background-color: rgba(20, 201, 140, 0.801);
}
.canvas .rightpart{
    background-color: rgb(158, 17, 52);
    flex-direction: column;
}

.canvas .rightpart .row
{
    display:flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}
.btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 28px;
    background-color: #fff;
    margin: 0 15px;
    border-radius: 3px;
    font-size: 20px;
    color: darkgreen;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.25s;
}

.btn:hover{
    transform: scale(1.3);
}
.btn:active {
    transform: scale(1.2) translateY(2px);
}


.controller {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 24px;
    background-color: rgb(37, 37, 37);
    color: #fff;
    border-radius: 3px;
}

.container .timer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.controller .timer__bar {
    display: flex;
    align-content: flex-start;
    height: 20px;
    width: 500px;
    background-color: #000;
    border-radius: 3px;
    position: relative;
}

#timerBar {
    width: 100%;
    height: 20px;
    background-color: #fff;
}
.timerText {
    margin-left: 25px;
    display: flex;
    border: 1px solid white;
    padding: 12px 48px;
    color: #fff;
}
.next .next--btn{
    color: #555;
    font-size: 18px;
}
.end .end--btn {
    color: #555;
    font-size: 18px;
}
.randImage{
    width: 200px;
    height: 200px;
}

/* INDEX.HTML */
.emoji__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 12px 0;
    width: 80%;
}


.row-upper,
.row-lower{
    display: flex;
    align-items: center;
    width: 80%;
    padding: 12px 0;
}
.row-upper {
    justify-content: space-between !important;
}
.row-lower {
    justify-content: space-around;
}


.info__container {
    display: flex;
    flex: 1 0 auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.howtobox,
.playbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
}

.howtobox .howto-heading,
.playbox .playbox-heading{
    font-weight: 500;
    color: #fae39e;
    letter-spacing: 1.5px;
    padding: 12px 12px 12px 0;
}

.bullets {
    text-decoration: none;
    list-style-type: square;
}
.bullets .points {
    font-size: 16px;
    padding: 8px 0;
}
.gameplay {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.btn-start{
    transition: all 0.25s;
}
.btn-start:hover{
    transform: translateY(-4px);
}
.btn-start:active{    
    transform: translateY(-2px);
}

.gameEnded{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 48px;
}

.analysis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.analysis h3{
    font-size: 40px;
    border-bottom: 3px solid tomato;
}
.analysis ul {
    font-size: 26px;
    padding: 8px 0;
}

.animemo{
    animation-name: emo;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes emo {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.5,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}

@media screen and (max-width: 768px) {
    .emoji__container,
    .row-upper,
    .row-lower {
        width: 100%;
    }
    .info__container{
        flex-direction: column;
    }
    .howtobox,
    .playbox{
        justify-content: center;
        align-items: center;
    }
    .bullets{
        list-style: none;
    }
    .points{
        text-align: center;
    }
    .canvas .rightpart{
        flex-direction: column !important;
        background: none;
    }
    .row:last-child{
        margin-top: -50px !important;
    }
    .leftpart{
        margin-top: 50px;
    }
    .photobox{
        width: 200px !important;
        height: 200px !important;
    }
    .controller{
        justify-content: center;
        align-items: center;
    }
    .timer{
        position: fixed;
        top: 5px;
        left: -20px;
    }
    .timer h4{
        display: none;
    }
    .timer::after{
        content: "";
        display: flex;
        position: fixed;
        background-color: #000;
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .header h1{
        position: fixed;
        top: 0;
        z-index: 1;
        transform: translateX(-50px);
    }
    .counter{
        position: fixed;
        top: 15px;
        right: 35px;
    }
    .next,
    .end{
        position: fixed;
    }
    .next::after{
        content: "";
        display: flex;
        position: fixed;
        background-color: #000;
        width: 100%;
        height: 60px;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    .next{
        left: 25px;
        bottom: 0;
     }
     .end{
        right: 25px;
        bottom: 0;
     }
     .counter{
         margin-left: 25px;
     }
    @keyframes emo {
        0%{
            transform: scale(1,1);
        }
        50%{
            transform: scale(1.2,1.2);
        }
        100%{
            transform: scale(1,1);
        }
    }
}

@media screen and (max-width:1024px){
    .canvas{
        flex-direction: column;
    }
    .canvas .rightpart{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .row{
        flex-direction: column;
    }
    .btn {
        margin: 15px 0;
    }
    .timer__bar{
        display: none !important;
    }
}