*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555;
    width: 100%;
    height: 100vh;
    background-color: rgb(29, 29, 29);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2.4rem;
    height: 100vh;
    width: 100%;

}

.header h1{
    font-size: 30px;
    color: cornsilk;
    padding: 12px
}

.canvas
{
    display: flex;
    flex: 1 0 auto;
    width: 100%
}

.canvas .leftpart,
.canvas .rightpart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    color: white;
    flex-wrap: wrap;
}


.canvas .leftpart .photobox{
    background-color: rgba(3, 19, 13, 0.801);
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    height:50%;
    width: 50%;
}

.canvas .leftpart{
    background-color: rgba(20, 201, 140, 0.801);
}
.canvas .rightpart{
    background-color: rgb(158, 17, 52);
    flex-direction: column;

}

.canvas .rightpart .row
{
    display:flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}
.btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 28px;
    background-color: #fff;
    margin: 0 15px;
    border-radius: 3px;
    font-size: 20px;
    color: darkgreen;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
}


.controller {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 24px;
    background-color: rgb(37, 37, 37);
    color: #fff;
    border-radius: 3px;
}

.container .timer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.controller .timer__bar {
    display: flex;
    align-content: flex-start;
    height: 20px;
    width: 500px;
    background-color: #000;
    border-radius: 3px;
    position: relative;
}

#timerBar {
    width: 100%;
    height: 20px;
    background-color: #fff;
}
.timerText {
    margin-left: 25px;
    display: flex;
    border: 1px solid white;
    padding: 12px 48px;
    color: #fff;
}
.next .next--btn{
    color: #555;
    font-size: 18px;
}
.end .end--btn {
    color: #555;
    font-size: 18px;
}
.randImage{
    width: 200px;
    height: 200px;
}
